#root, #window, body{
  min-height: 100vh;
  position: relative
}

html, body {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0 1rem;
}

nav li {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

#window {
  flex-direction: column;
  position: static;
}

.item {
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 3fr;

}

.show {
  display: block;
}

.hide {
  display: none;
}

.topStick {
  position: fixed;
  top: 100;
  display: none;
}

.bottomStick {
  position: fix;
  bottom: 0;
  display: none;
}

.english {
  color: blue;
}
